################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dummy/.vs/Dummy/v16
/Dummy/obj/Debug
